body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;
    background-color: #121212;
}

/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar .logo {
    font-size: 24px;
    font-weight: bold;
    color: #1DB954;
}

.navbar .menu {
    display: flex;
    gap: 15px;
}

.navbar .menu a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

/* Main Content Styles */
.main-content {
    margin-top: 80px;
    padding: 20px;
}

h2 {
    margin-bottom: 20px;
}

.song-list {
    list-style-type: none;
    padding: 0;
}

.song-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    border-bottom: 1px solid #333;
    transition: background-color 0.3s;
}

.song-item:hover {
    background-color: #222;
}

.song-info {
    flex: 1;
    /* Consente di occupare tutto lo spazio disponibile */
    max-width: calc(100% - 100px);
    /* Regola questa larghezza in base agli altri elementi (ad esempio il pulsante Play) */
    overflow: hidden;
    /* Impedisce al contenuto interno di superare i bordi */
}

.song-title {
    font-size: 22px;
    font-weight: bold;
    color: white;
    margin-bottom: 5px;
    white-space: nowrap;
    /* Evita che il testo vada su più righe */
    overflow: hidden;
    /* Nasconde il contenuto in eccesso */
    width: 300px;
    /* Aggiunge "..." per indicare che il testo è troncato */
}

.song-author {
    font-size: 14px;
    color: #ccc;
    white-space: nowrap;
    /* Evita che il testo vada su più righe */
    overflow: hidden;
}

.song-author,
.song-duration {
    font-size: 15px;
    color: #ccc;
    flex: 1;
    width: 300px;
}

.play-button {
    background-color: #1DB954;
    color: white;
    border: none;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    flex-shrink: 0;
}

.play-button:hover {
    background-color: #1AA34A;
}

/* Expanded Player */
.player {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30vh;
    /* Minimized height */
    background-color: #222;
    color: white;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: all 0.3s ease-in-out;
    border-radius: 20px 20px 0 0;
    z-index: 1000;
}

.player .song-title {
    font-size: 25px;
    width: 80%;
}

.player .song-author {
    font-size: 25px;
}

.player .cover {
    display: block;
}

.player.show {
    display: flex;
}

.player.show .song-details {
    margin-top: 28px;
    max-width: 90%;
}

.player.expanded {
    height: 100vh;
    /* Expanded height */
}

.player .cover {
    display: none;
    width: 100px;
    height: 100px;
    margin-top: 100px;
    background-color: #333;
    border-radius: 10px;
    margin-bottom: 15px;
    background-size: cover;
    background-position: center;
}

.player.expanded .cover {
    width: 85%;
    /* Larger cover in expanded view */
    height: 40%;
}

/* Progress bar */
.progress-wrapper {
    width: 90%;
    display: none;
    /* Hidden by default */
    margin: 10px 0;
}

.progress-bar {
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    background-color: #444;
    border-radius: 5px;
    height: 5px;
    outline: none;
    cursor: pointer;
}

.progress-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #1DB954;
    cursor: pointer;
}

.progress-bar::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #1DB954;
    cursor: pointer;
}

/* Show progress bar when expanded */
.player.expanded .progress-wrapper {
    display: block;
}

/* Control buttons */
.controls {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* margin: 52px 0; */
    margin-bottom: 70px;
    z-index: 1000;
}

.control-btn {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

.control-btn:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(1.1);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}

.control-btn:active {
    transform: scale(0.95);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Expand button */
.expand-btn {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: transform 0.2s ease;
}

.expand-btn:hover {
    transform: scale(1.2);
}

/* Stile per i dettagli del brano */
.song-details {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
}

.song-author {
    font-size: 18px;
    color: #ccc;
}

.menu a,
#createPlaylistBtn,
#savePlaylistBtn,
#cancelPlaylistBtn,
#closeBtn {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    background: linear-gradient(135deg, #1DB954, #1AA34A);
    padding: 10px 20px;
    border-radius: 50px;
    transition: background-color 0.3s, transform 0.3s;
    text-align: center;
}

.menu a:hover,
#createPlaylistBtn:hover,
#cancelPlaylistBtn:hover,
#savePlaylistBtn:hover,
#closeBtn:hover {
    background-color: #1AA34A;
    color: white;
    transform: scale(1.05);
}

.playlist-modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Centra la finestra modale */
    width: 80%;
    max-width: 400px;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
    /* Assicurati che la modale si sovrapponga al contenuto */
}

.playlist-modal-content {
    background-color: #333;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    color: white;
}

#playlistName {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #444;
    color: white;
    border: 1px solid #666;
    border-radius: 5px;
    box-sizing: border-box;
}

.create-playlist-btn {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    margin-top: 20px;
    display: inline-block;
}

.create-playlist-btn:hover {
    background-color: #0056b3;
}

.menu-container {
    position: relative;
    display: inline-block;
}

.menu-button {
    background: none;
    font-size: 1.2rem;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: white;
}

.menu-options {
    display: none;
    position: absolute;
    right: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.menu-options li {
    padding: 8px 16px;
    background-color: #333;
    cursor: pointer;
    border-radius: 1px;
}

.menu-options li:hover {
    background-color: #444;
}

.menu-options.show {
    display: block;
}

/* CSS per la sezione delle playlist */
.playlist-section {
    position: fixed;
    /* Fissa la posizione nella finestra */
    top: 50%;
    /* Centra verticalmente */
    left: 50%;
    /* Centra orizzontalmente */
    transform: translate(-50%, -50%);
    /* Sposta la sezione indietro per centrarla perfettamente */
    width: 80%;
    /* Imposta una larghezza (puoi modificarla in base al design) */
    max-width: 600px;
    /* Imposta una larghezza massima per evitare che sia troppo larga */
    padding: 20px;
    background-color: #333;
    /* Imposta uno sfondo bianco per farla risaltare */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    /* Aggiungi un'ombra per migliorare la visibilità */
    border-radius: 10px;
    z-index: 1000;
    /* Assicurati che sia sopra ad altri contenuti */
    display: none;
    /* Inizialmente nascosta */
    overflow-y: auto;
    /* Aggiungi lo scroll se il contenuto è troppo lungo */
}

.playlist-section h3 {
    margin-top: 0;
    /* Rimuove il margine superiore */
}

.playlist-section label {
    display: block;
    margin-bottom: 10px;
}

.playlist-section input[type="checkbox"] {
    margin-right: 10px;
}

.delete-playlist-btn {
    background-color: #ff4d4d;
    color: white;
    width: 80%;
    padding: 10px 10px;
    text-decoration: none;
    border-radius: 50px;
    font-size: 14px;
    cursor: pointer;
    margin-top: 30px;
    /* Distanza tra la lista delle canzoni e il bottone */
    display: block;
    /* Rende il bottone un blocco che occupa tutta la larghezza disponibile */
    text-align: center;
    /* Centra il testo dentro il bottone */
    margin-bottom: 250px;
}

.delete-playlist-btn:hover {
    background-color: #ff1a1a;
}

.add-tracks-btn {
    background-color: #1DB954;
    color: white;
    width: 80%;

    align-items: center;
    padding: 10px 10px;
    text-decoration: none;
    border-radius: 50px;
    font-size: 14px;
    cursor: pointer;
    margin-top: 20px;
    /* Distanza tra la lista delle canzoni e il bottone */
    display: block;
    /* Rende il bottone un blocco che occupa tutta la larghezza disponibile */
    text-align: center;
}

.add-tracks-btn:hover {
    background-color: #1AA34A;
}

.optionBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.song-info {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.song-title,
.song-author {
    display: inline-block;
    white-space: nowrap;
    /* Impedisce il testo da andare a capo */
}

.scroll-text {
    width: 100%;
    display: inline-block;
    /* Permette la movimentazione orizzontale */
    white-space: nowrap;
    /* Impedisce che il testo vada su più righe */
    overflow: hidden;
    /* Nasconde la parte del testo che esce dal contenitore */
    animation: scrollText 10s linear infinite;
    /* L'animazione si ripete all'infinito */
}

@keyframes scrollText {
    0% {
        transform: translateX(100%);
        /* Inizia fuori dallo schermo, a destra */
    }

    100% {
        transform: translateX(-100%);
        /* Si sposta completamente a sinistra */
    }
}

#rewindBtn,
#forwardBtn {
    font-size: 16px;
    width: 55px;
    height: 55px;
}

#playPauseBtn {
    width: 70px;
    height: 70px;
}

.playlist-item {
    display: flex;
    flex-direction: row;
    font-size: 20px;
}

input {
    margin-bottom: 12px;
    width: 30px;
}


#divCloseBtn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: #333;
    padding: 20px;
    border-radius: 8px;
    width: 50%;
    max-height: 80%;
    overflow-y: auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    position: relative;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}